{
  "env": {
    "browser": true,
    "es2022": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "prettier", "react-app", "react-app/jest"],
  "plugins": [],
  "overrides": [],
  "rules": {}
}
