.board {
  display: grid;
  grid-auto-rows: 1fr;
}

.game-over {
  pointer-events: none;
  filter: blur(1px) grayscale(100%);
  opacity: 0.6;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.cell {
  aspect-ratio: 1;
  min-height: 22px;
  min-width: 22px;

  color: black;
  line-height: 1rem;

  margin: 0.5px;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cell:hover {
  background: lightcoral;
}

.hidden {
  background: gray;
}

.flagged {
  background: gray;
}

.mine {
  background: gray;
}

.number {
  background: cornsilk;
}
