
.board {
  display: grid;

  grid-template-columns: repeat(10, 1fr);

  grid-gap: 0px;

  max-width: 60vmin;
  /* justify-content: center; */
  /* place-items: center; */
}

.game-over {
  pointer-events: none;
  filter: blur(1px) grayscale(100%);
  /* filter: blur(1px) hue-rotate(0deg); */
  opacity: 0.6
}

.row {

}

.cell {
  border: 1px solid;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell:hover {
  background: lightcoral;
}

.hidden {
  background: gray;
}

.flagged {
  background: gray;
}

.mine {
  background: gray;
}

.number {
  background: cornsilk;
}